{% extends 'layout/base.html.twig' %}

{% block head %}
    <script src="/js/main/form.js"></script>
{% endblock %}

{% block content %}
    <form class="navbar-form navbar-left" role="search" method="get" action="/?c=search" name="search">
        <div class="form-group">
            <input class="form-control" type="url" name="searchUrl" data-validation="required" required placeholder="http://example.com"/>
            <button type="submit" class="btn btn-default" name="searchSubmit">Search</button>
        </div>
        <div class="container">
            <div class="row">
                <input type="radio" name="searchType" value="link" checked="checked"/>
                <label for="searchType">Links</label>

                <input type="radio" name="searchType" value="img"/>
                <label for="searchType">Images</label>

                <input type="radio" name="searchType" value="text"/>
                <label for="resultArea">Text</label>
                <div id="searchTextWrapper">
                    <input class="form-control" type="checkbox" name="useTextSearch" style="display: none;"/>
                    <label for="searchText">Search text:</label>
                    <input class="form-control" type="text" name="searchText" placeholder="— Enter text" data-validation="required" data-validation-if-checked="useTextSearch"/>
                </div>
            </div>
        </div>
    </form>
    <div id="resultArea"></div>
{% endblock %}