{% extends 'layout/base.html.twig' %}

{% block content %}
    <h1>Details for "{{ url }}"</h1>
        <ol>
            {% for item in items %}
                <li>
                    <em>{{ item.getTimestamp }}</em> -
                    type: {{ item.getType }},
                    number of items: {{ item.count }}.
                    {% if item.count %}
                        <a
                            href="/?c=archive&a=itemsCollection&collectionId={{ item.getId }}"
                            class="ajax"
                            target="#itemsCollection-{{ item.getId }}">
                            show items
                        </a>
                    {% endif %}
                    <div>
                        <table class="table" id="itemsCollection-{{ item.getId }}">
                        </table>
                    </div>
                </li>
            {% endfor %}
        </ol>
{% endblock %}