{% extends 'layout/base.html.twig' %}

{% block content %}
    {% if pages %}
        <table class="table table-default table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Url</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td><a target="_blank" href="{{ page.url }}">{{ page.url }}</a></td>
                        <td>{{ page.totalNumberOfItems }}</td>
                        <td><a href="/?c=archive&a=details&url={{ page.url }}">details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There is nothing here yet.</p>
    {% endif %}
{% endblock %}