<h1>Current search results:</h1>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>item</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th colspan="2">Total: {{ items|length }}</th>
        </tr>
    </tfoot>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <div class="{{ itemType }}">
                        {{ item|raw }}
                    </div>
                </td>
            <tr>
        {% endfor %}
    </tbody>
</table>